
.container {
    max-width: 100%;
    margin: auto;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
.container{
    display: flex;
}

.form-wrapper {
    display: flex;
    
    justify-content: space-between;
    gap: 20px;
}
form{
    width: 460px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}
.info-personnelle{
    border: 2px solid green;
}
.info-personnelle p{
    text-align: center;
    color: green;
}
.info-hebergement{
    border: 2px solid rgb(244, 179, 59);
}
.info-hebergement p{
    text-align: center;
    color: rgb(244, 179, 59);
}

.form-group {
    display: flex;
    align-items: center; /* Alignement vertical */
    justify-content: space-between; /* Espacement entre label et input */
    margin-bottom: 10px; /* Espacement entre les champs */
  }

  .flex{
    display: flex;
    justify-content: space-around;
  }
  .flex .block{
    width: 180px;
  }
  .radio-options{
    margin: 10px;
    align-items: center;
    display: flex;
    gap: 20px;
  }
  .radio-options p{
    color: #222;

  }
  .radio-options .sexe{
    display: flex;
    gap: 15px;
  }
  label{
    font-size: 13px;
  }
  .form-group label {
    width: 150px; /* Taille fixe pour les labels */
    font-size: 13px;
  }
  
  .form-group input, select {
    flex: 1; /* Pour que tous les inputs aient la même largeur */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #content nav {
    height: 56px;
    background: var(--light);
    padding: 0 15px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  #content nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #content nav h2{
    color:#555;
    
  }
  /* NAVBAR */
  
  
  
  
  
  /* MAIN */
  #content main {
    width: 100%;
    padding: 0px 24px;
    font-family: var(--poppins);
    background: #fff;
    overflow-y: auto;
    animation: fadeIn 0.5s ease-in-out;
  }
  @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-20px); }
      to { opacity: 1; transform: translateY(0); }
  }
  
  #content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
  }
  #content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
  }
  #content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }
  #content main .head-title .left .breadcrumb li {
    color: var(--dark);
  }
  #content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
  }
  #content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
  }
  #content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
  }
  
  
  
  
  #content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
  }
  #content main .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
  }
  #content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #content main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
  }
  #content main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
  }
  #content main .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
  }
  #content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
  }
  #content main .box-info li .text p {
    color: var(--dark);	
  }
  
  
  
  
  
  #content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;
    margin-top: 18px;
    width: 100%;
    color: var(--dark);
  }
  #content main .table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
  }
  #content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
  }
  #content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
  }
  #content main .table-data .head .bx {
    cursor: pointer;
  }
  
  #content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
  }
  #content main .table-data .order{
    width: 100%;
  }
  #content main .table-data .order .login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #content main .table-data .order .login-container fieldset{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid green;
  }
  #content main .table-data .order .login-container .Orange{
    border: 2px solid green;
  }
  #content main .table-data .order .login-container form{
    width: 400px;
  }
  #content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
  }
  #content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
  }
  #content main .table-data .order table td {
    padding: 16px 0;
  }
  #content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
  }
  #content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
  #content main .table-data .order table tbody tr:hover {
    background: var(--grey);
    cursor:pointer;
  }
  #content main .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
  }
  #content main .table-data .order table tr td .status.completed {
    background: var(--blue);
  }
  #content main .table-data .order table tr td .status.process {
    background: var(--yellow);
  }
  #content main .table-data .order table tr td .status.pending {
    background: var(--orange);
  }
  
  
  #content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
    margin-bottom:30px;
  }
  #content main .table-data .todo .todo-list {
    width: 100%;
  }
  
  #content main .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 15px 10px;
    font-size:12px;
    font-weight:600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #content main .table-data .todo .todo-list li .bx {
    cursor: pointer;
  }
  #content main .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--blue);
    text-align: center;
  }
  #content main .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--orange);
  }
  #content main .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
  }
  p{
    font-size:14px;
    font-weight:600;
  }
  /* MAIN */
  /* CONTENT */
  
  @media screen and (max-width: 768px) {
    #sidebar {
      width: 200px;
    }
  
    #content {
      width: calc(100% - 60px);
      left: 200px;
    }
  
    #content nav .nav-link {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    #sidebar {
      width: 50px;
    }
    
    #content {
      width: calc(100% - 60px);
      left: 50px;
    }
    #content nav form .form-input input {
      display: none;
    }
  
    #content nav form .form-input button {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: none;
      color: var(--dark);
    }
  
    #content nav form.show .form-input input {
      display: block;
      width: 100%;
    }
    #content nav form.show .form-input button {
      width: 36px;
      height: 100%;
      border-radius: 0 36px 36px 0;
      color: var(--light);
      background: var(--red);
    }
  
    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
      display: none;
    }
  
    #content main .box-info {
      grid-template-columns: 1fr;
    }
  
    #content main .table-data .head {
      width: 100%;
    }
    #content main .table-data .head {
      width: 100%;
    }
    #content main .table-data .order table {
      width: 100%;
    }
    #content main .table-data .todo .todo-list {
      width: 100%;
      
    }
    .action{
      display:none;
    }
  
    
  }
  .btn-submit {
      width: 100%;
      height: 40px;
      background: #3EB489;
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin-top: 20px;
      font-weight: 600;
  }
  
  .login-container {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
  }
  
  /* Titre */
  .login-container h2 {
      font-size: 24px;
      color: #1877f2;
      margin-bottom: 20px;
  }
  
  /* Champs de saisie */
  .login-container form div input {
      width: 100%;
      height:40px;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 12px;
      font-weight:600;
  }
  
  /* Bouton de connexion */
  .btn-login {
      width: 100%;
      padding: 12px;
      background: #3EB489;
      color: white;
      font-size: 18px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.3s ease;
  }
  
  .btn-login:hover {
      background: #3EB489;
  }
  
  /* Effet sur les champs */
  .login-container input:focus {
      border-color: #3EB489;
      outline: none;
      box-shadow: 0 0 5px rgba(24, 119, 242, 0.5);
  }
  
  /* Message d'erreur */
  .alert-danger {
      background: #ffdddd;
      color: #d8000c;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
  }
  
  /* Responsivité */
  @media screen and (max-width: 500px) {
      .login-container {
          
          max-width: 100%;
      }
  
      .login-container h2 {
          font-size: 20px;
      }
  
      .login-container input {
          padding: 10px;
          font-size: 14px;
      }
  
      .btn-login {
          padding: 10px;
          font-size: 16px;
      }
    .margeV{
      display:none;
    }
  }
  
  .todo-header {
      font-weight: bold;
      background-color: #f4f4f4;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #ccc;
  }
  .todo-header p {
      flex: 1;
      text-align: center;
  }
  .low-stock {
      color: red;
      font-weight: bold;
      text-decoration: underline;
  }
  .marge{
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:20px;
  }
   .marge select{
    padding:10px;
    border: none;
    border-radius:5px;
    background: var(--grey);
    outline: none;
    width: 100%;
    color: var(--dark);
  }
  .marge button{
    cursor: pointer;
    width:160px;
    padding:10px;
    border:none;

    color:#fff;
    border-radius:5px;
    background: #3EB489;
  }
  
  .scan-block {
    display: flex;
    justify-content:center ;
    align-items: center;
   
    border: none;
    border-radius: 12px;
  
  }
  
  .scan-icon {
    margin-left: 10px;
    margin-top: 10px;
    border: 2px dashed #ccc;
    cursor: pointer;
    color: #2c3e50;
    transition: transform 0.2s ease;
  }
  
  .scan-icon:hover {
    transform: scale(1.1);
    color: #007bff;
  }
    
  
  
  
  

 

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.radio-options{
    display: flex;
}


button {
    width: 100%;
    background-color: #6c63ff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #008bb5;
}

@media (max-width: 768px) {
    fieldset {
        width: 100%;
    }
}
/* Ajustement de base pour les écrans étroits */
@media screen and (max-width: 992px) {
  .content{
    margin-top: 40px;
  }
  .form-wrapper {
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 100%;
    max-width: 100%;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: 100%;
    margin-bottom: 5px;
  }

  .flex {
    flex-direction: column;
    align-items: stretch;
  }

  .flex .block {
    width: 100%;
  }

  .radio-options {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Pour très petits écrans */
@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }

  .form-wrapper {
    gap: 10px;
  }

  .btn-submit,
  .btn-login {
    font-size: 14px;
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }
}
